body {
  padding: 10px;
  background: #444;
  
  user-select: none;
  color: white;
}

area {
  cursor: pointer;
}

#main-container {
  width: 1024px;
  height: 576px;
  position: relative;
  overflow: hidden;
}
#main-container > img {
  width: 100%;
  height: 100%;
}
#main-container #prices-container {
  position: absolute;
  width: 900px;
  height: 425px;
  border: 1px solid black;
  background-color: #842222;
  
  left: 57px;
  
  top: 577px; /* out of view by default */
  transition: top 0.5s ease;
}
#main-container #prices-container.visible {
  top: 65px;
}
#main-container #message-container {
  position: absolute;
  width: 600px;
  height: 250px;
  border: 1px solid black;
  background-color: brown;
  
  left: 215px;
  cursor: pointer;
    
  top: 577px; /* out of view by default */
  transition: top 0.2s ease;
}
#main-container #message-container.visible {
  top: 140px;
}
#main-container #message-container .hint {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}
#main-container #trade-container {
  position: absolute;
  width: 300px;
  height: 430px;
  border: 1px solid black;
  background-color: brown;
  
  left: 350px;
    
  top: 577px; /* out of view by default */
  transition: top 0.5s ease;
}
#main-container #trade-container.visible {
  top: 60px;
}


#prices-container table {
  font-size: 20px;
  width: 95%;
  margin-top: -40px;
}
#prices-container table tr {
  line-height: 30px;
}
#prices-container table tr:nth-child(2n) {
  background-color: rgba(0,0,0,0.2);
}
#prices-container table td, #prices-container table th {
  padding: 0 5px;
}
#prices-container table tr:first-child {
  height: 200px;
  white-space: nowrap;
  font-size: 18px;
}
#prices-container th > div {
  transform: translate(0, 65px) rotate(-45deg);
  width: 30px;
}

#trade-container img {
  width: 64px;
  height: 64px;
}
#trade-container table {
  width: 100%;
  margin-top: 20px;
  background-color: rgba(0,0,0,0.2);
}
#trade-container table tr:nth-child(2n) {
  background-color: rgba(0,0,0,0.1);
}
#trade-container table th {
  text-align: left;
}
#trade-container img {
  float: left;
}
#trade-container > div {
  text-align: center;
}
#trade-container .town-name {
  font-size: 32px;
  font-weight: bold;
}
#trade-container .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;

  height: 32px;
  line-height: 32px;
  border-top: 1px solid gray;

  cursor: pointer;
}
#trade-container .footer:hover {
  background-color: rgba(0,0,0,0.2);
}
#trade-container button {
  cursor: pointer;
}

.dialog {
  box-shadow: 20px 10px 10px rgba(0,0,0,0.4);
  border-radius: 5px;
  padding: 10px;
}

#message-container {
  text-align: center;
}
#message-container .content {
  top: 30px;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  font-size: 22px;
  padding: 25px;
}

#message-container .content.secondary {
  top: 150px;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  font-size: 22px;
  padding: 25px;
  font-style: italic;
}

#player {
  transition-duration: 1s;
  
  cursor: pointer;
  
  position: absolute;
  left: 90px; /* starting town coords, could be dynamic */
  top: 380px;
}

#player img {
  width: 50px;
  height: 50px;
  filter: drop-shadow(2px 4px 6px black);
}

#player img:hover {
  filter: drop-shadow(0 0 5px black);
}

#top-container {
  width: 1024px;
  background-color: #303030;
  height: 50px;
  margin-bottom: 10px;
  position: relative;
}

#top-container #prices-button {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 150px;
  font-size: 24px;
  text-align: center;
  background-color: brown;
  outline: 2px solid #f8cf85;
  cursor: pointer;
}
#top-container #prices-button:hover {
  background-color: #a52a2ae8;
}

#top-container #mute-button {
  position: absolute;
  top: 7px;
  left: 175px;
  width: 40px;
  text-align: center;
  filter: invert(1);
  cursor: pointer;
}

#top-container #labels-button {
  position: absolute;
  top: 7px;
  left: 220px;
  width: 40px;
  text-align: center;
  filter: invert(1);
  cursor: pointer;
}

#top-container #inventory {
  position: absolute;
  top: 3px;
  left: 290px;
  line-height: 18px;
  width: 600px;
  font-size: 20px;
  text-align: center;
}

#top-container #money-container {
  position: absolute;
  top: 10px;
  left: 920px;
  width: 100px;
  font-size: 24px;
}

#labels-overlay {
  display: none; /* toggled from js */
  position: absolute;
  top: 0px;
  left: 0px;
}

#labels-overlay .label {
  position: absolute;
  background: brown;
  color: white;
  border: 1px solid #f8cf85;
  opacity: 0.9;
  padding: 5px;
  border-radius: 3px;
  margin-top: 5px;
  margin-left: 35px;
  box-shadow: 2px 3px 10px #000000;
  pointer-events: none; /* allow click-through to main map */
}
