@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(resources/fonts/raleway.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(resources/fonts/sourceSansPro_semibold.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(resources/fonts/sourceSansPro_semibold_le.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	font-family: 'Raleway', sans-serif;
	color: rgb(8, 28, 48);
}
pre{
	font-family: monospace;
	margin: 0.5em 0;
	padding: 0.5em;
	line-height: 1.2em;
	background-color: #34495e;
	-moz-tab-size: 4;
	tab-size: 4;
}
code{
	font-family: monospace;
}
h1,h2,h3,h4,h5, header{
	font-family: 'Source Sans Pro', sans-serif;
	margin: 1em 0;
	color: rgb(15, 52, 80);
}
h1{
	font-size: 2em;
}
h2{
	font-size: 1.6em;
}
h3{
	font-size: 1.3em;
}
.mainwrap{
	width: 720px;
	margin: 2em auto;
}

header{
	position: relative;
	margin-left: -3em;
	padding-left: 3em;
}
header aside{
	display: none;
}
header:hover aside{
	display: block;
	position: absolute;
	font-size: 1.5em;
	top: 0;
	left: 1em;
}
header aside a{
	color: lightgray;
	text-decoration: none;
}
header aside a:hover{
	color: gray;
	color: rgb(8, 28, 48);
}
header aside .elevator-button{
    position: absolute;
    right: 20px;
    font-size: 16px;
    color: lightgray;
}
header aside .elevator-button:hover{
    color: #34495E;
    cursor: pointer;
}
.elevator-button.btn-down{
    top: 12px;
}
header p{
	margin-top: -1.3em;
	font-size: 1.5em;
}

nav{
	position: absolute;
	left: 780px;
	top: 0px;
	white-space: nowrap;
	line-height: 1.5em;
	border-left: 2px dashed lightgray;
	padding-left: 1.0em;
	color: rgb(100,100,100);
	font-family: 'Raleway', sans-serif;
}

nav a{
	color: rgb(100,100,100);
}
nav a:hover{
	color: rgb(15, 52, 80);
}

ol, ul{
	list-style-position: inside;
}
ol{
    list-style-type: decimal;
}
ul{
	list-style-type: square;
}
ul li, ol li{
	line-height: 1.3em;
    margin: 0.25em 0;
}
#posts_index li {
    margin: 0.5em 0;
}

p{
	margin: 1em 0;
	line-height: 1.5em;
}
p code, div.comment code:not(.rainbow), ul code, ol code{
	background-color: lightgray;
}

div.comment{
	line-height: 1.2em;
	padding: 1em;
	background-color: rgb(235, 235, 235);
}

div.comment p{
	margin-top: 1em;
	margin-bottom: 0;
    line-height: 1.2em;
}

div.comment p:first-child{
	margin-top: 0;
}

div.comment h2{
	margin-top: 0;
	margin-bottom: 0.5em;
	font-size: 1em;
	font-weight: bold;
	font-family: 'Source Sans Pro', sans-serif;
	color: rgb(15, 52, 80);
	display: inline;
}

span.comment{
	font-style: italic;
}

div.quote{
	margin-left: 5em;
	border-left: 3px solid lightgray;
	font-style: italic;
	background-color: #f5f5f5;
	padding: 0.75em;
	margin-right: 2em;
	line-height: 1.1em;
}

div.quote::before{
	content: "“";
	font-size: 3.5em;
	font-family: initial;
	color: lightgray;
	margin-top: -0em;
	margin-left: -1.0em;
	margin-right: 1em;
	position: absolute;
}

img{
	display: block;
	margin: auto;
}
img+span.caption{
  color: rgb(84, 84, 84);
  text-align: center;
  display: inherit;
  margin: 0.5em;
  font-style: italic;
}

.comments-section{
  width: 100%;
  min-height: 25em;
}