html, body {
  width: 100%;
}

body {
  padding-left: 40px;
}

h1 {
  font-size: 1.2em;
}

.details {
	font-style: italic;
  color: #ccc;
  font-size: 0.9em;
}

li.starred::before {
  content: '\2605';
  position: absolute;
  margin-left: -50px;
  font-size: 25px;
  color: rgb(15 52 80 / 25%);
}

@media (width <= 550px) {
  li.starred::before {
    margin-left: -52px;
    font-size: 26px;
  }

  .details {
    font-size: 0.75em;
  }
}
