/* line 2, ../../app/styles/common.scss */
body {
  font-family: 'Roboto', sans-serif;
}

/* line 7, ../../app/styles/common.scss */
.header-controls span.ui-select-toggle {
  padding-right: 2em;
}
/* line 10, ../../app/styles/common.scss */
.header-controls div.ui-select-container {
  max-width: 9em;
}

/* line 16, ../../app/styles/common.scss */
#book-display-container a {
  color: #333;
}
/* line 18, ../../app/styles/common.scss */
#book-display-container a:hover {
  text-decoration: none;
}
/* line 22, ../../app/styles/common.scss */
#book-display-container .book {
  border: 1px solid gray;
  padding: 1em;
  margin: 1em 0;
  border-radius: 10px;
  overflow: hidden;
}
/* line 29, ../../app/styles/common.scss */
#book-display-container .book img {
  width: 100%;
}
/* line 33, ../../app/styles/common.scss */
#book-display-container .book .title {
  font-weight: 600;
  padding-top: 1em;
}
/* line 38, ../../app/styles/common.scss */
#book-display-container .book .title, #book-display-container .book .author {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* line 44, ../../app/styles/common.scss */
#book-display-container .book .book-footer {
  padding-top: 1em;
}
/* line 48, ../../app/styles/common.scss */
#book-display-container .book .glyphicon {
  margin-right: 0.2em;
}
/* line 52, ../../app/styles/common.scss */
#book-display-container .book:hover {
  background: #e0e5f0;
}
/* line 56, ../../app/styles/common.scss */
#book-display-container .error-message {
  text-align: center;
  font-size: 18px;
  padding: 1em;
}
/* line 61, ../../app/styles/common.scss */
#book-display-container .paging-control-row {
  padding-bottom: 1em;
}

/* line 68, ../../app/styles/common.scss */
#book-details-container h1 {
  font-size: 24px;
  font-weight: 600;
}
/* line 72, ../../app/styles/common.scss */
#book-details-container .book-author {
  font-size: 18px;
  padding-bottom: 0.5em;
}
/* line 76, ../../app/styles/common.scss */
#book-details-container h2 {
  font-size: 16px;
  font-weight: 600;
}
/* line 80, ../../app/styles/common.scss */
#book-details-container .centered {
  text-align: center;
}
/* line 84, ../../app/styles/common.scss */
#book-details-container .book-header, #book-details-container .recommendations {
  padding: 1em;
}
/* line 87, ../../app/styles/common.scss */
#book-details-container .book-body {
  padding: 1em;
  background-color: #f6f6f6;
}
/* line 91, ../../app/styles/common.scss */
#book-details-container .book-body .introduction::first-line {
  font-weight: 600;
  font-size: 18px;
}
/* line 96, ../../app/styles/common.scss */
#book-details-container .book-body p {
  padding: 0.5em 0;
}
/* line 100, ../../app/styles/common.scss */
#book-details-container .book-body hr {
  border-top: 1px solid #333;
  margin-left: 35%;
  margin-right: 35%;
}
/* line 106, ../../app/styles/common.scss */
#book-details-container .book-body img.avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 112, ../../app/styles/common.scss */
#book-details-container .book-body .signature {
  text-align: center;
  font-size: 18px;
  padding-top: 0.5em;
  padding-bottom: 1.5em;
}
