body {
  background-color: #eee;
  user-select: none;
}

canvas {
  background-color: white;
}

#canvas-cover {
  position: absolute;
  background-color: black;
  /* opacity controlled from js */
}

#choice-marker {
  position: absolute;
  top: 15px;
  left: 835px;
  width: 45px;
  height: 10px;
  border: 1px solid #457545;
  opacity: 0;
  background: linear-gradient(to right, #8BC34A, #e2ffe6);
}

.text-overlay {
  position: absolute;
  top: 350px;
  /* left position is set for every msg from js */
  text-align: center;

  padding: 14px;
  background-color: rgba(255, 255, 255, 0.2);

  font-family: 'Dancing Script', cursive;
  font-size: 35px;
}

.text-overlay.resetting {
  color: white;
  background-color: black;
  padding: 0;
}

#text-measure-helper {
  display: none;
}

#controls {
  margin-top: 12px;
  width: 900px;
  height: 50px;
}

#controls #mute-button {
  float: right;
  line-height: 50px;
  background-color: #ccc;
  height: 50px;
  width: 50px;
  margin-left: 12px;
  cursor: pointer;
}

#controls #mute-button img {
  padding: 10px;
}

#controls #mobile-controls-button {
  float: right;
  background-color: #ccc;
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
}

#controls #mobile-controls-button:hover, #controls #mobile-controls-button:active,
#controls #mute-button:hover, #controls #mute-button:active {
  background-color: #caa;
}

#mobile-controls {
  position: absolute;
  top: 0;
  left: 0;
  width: 240px;
  height: 240px;
  display: none;
}

#mobile-controls .mobile-button {
  position: absolute;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  background-color: gray;
}

#mobile-controls #mobile-up {
  top: 0;
  left: 80px;
}
#mobile-controls #mobile-right {
  top: 80px;
  left: 160px;
}
#mobile-controls #mobile-down {
  top: 160px;
  left: 80px;
}
#mobile-controls #mobile-left {
  top: 80px;
  left: 0;
}
