#content {
  padding: 10px;
}

#inputs {
  margin-bottom: 20px;
}

#warning {
  background-color: #ffff97;
  padding: 5px;
  margin: 10px 0;
}

#validation-mode-input {
  margin-top: 20px;
}

#results {
  width: 370px;
}
